body {
    background-color: #fff3e0;
    text-align: center;

}

h1 {
    margin-top: 70px;
    margin-bottom: 30px;
    color: #00acc1;
}

.sample img {
    width: 100px;
    height: 90px;
}


.button {
    display: inline-block;
    border-radius: 8%;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #ffccbc;
    color: #ffffff;
    line-height: 1em;
    border-style: none;
    box-shadow: 2px 2px 3px 1px #666;


}

.button:hover {
    background-color: #fff3e0;
    color: #fff;

}