<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPER BETTER</title>
    <meta
      name="description"
      content="ゲーミフィケーションを利用してモチベーションを維持する新しいモチベーションアップアプリです。"
    />
    <link rel="icon" href="../static/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../static/css/404page.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script
      src="https://kit.fontawesome.com/63c052cb4e.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/js/footerFixed.js"></script>
  </head>
</html>

<div class="teal lighten-4 contents_wrapper">
  <h1>404 Error Page</h1>
  <p class="zoom-area">お探しのページは見つかりませんでした</p>
  <section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
  </section>
  <div class="link-container">
    <a target="_blank" href="/MyPage" class="more-link">Myページにもどる</a>
  </div>
</div>
