<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPER BETTER</title>
    <meta
      name="description"
      content="ゲーミフィケーションを利用してモチベーションを維持する新しいモチベーションアップアプリです。"
    />
    <link rel="icon" href="../static/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script
      src="https://kit.fontawesome.com/63c052cb4e.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/js/footerFixed.js"></script>
    <script  type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
  </head>

  <body>
    <div id="addContentsWrapper">
      <header>
        <nav>
          <div class="nav-wrapper cyan darken-1">
            <a href="#" class="brand-logo center">ためる</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
          </div>
        </nav>
      </header>

      <div class="itemList container">
        <div id="itemList_text">
          <p>タスクとポイントを入力してください</p>

          <!-- タスク入力フォーム -->
          <form name = "myform" action="/addtask" method="post">
            <input
              type="text"
              id="itemList"
              name="task" 
              size="15"
              maxlength="40"
              required
              placeholder="タスクを入力"
            />
            <input
              type="number"
              id="addPoint"
              name="point"
              size="15"
              required
              max="100"
              min="1"
              placeholder="ポイントを入力"
            />
            <!-- 機能追加未定 -->
            <!-- <datalist id="data1">
              <option value="10"></option>
              <option value="20"></option>
              <option value="40"></option>
              <option value="80"></option>
            </datalist> -->

            <!-- 登録ボタン -->
            <input
              type="submit"
             
              name="save"
              id="registerButton"
              class="jsalert waves-effect waves-light btn-large deep-orange lighten-4"
              value="登録"
            />
          </form>
        </div>
      </div>

      <!-- フッター -->
      <footer id="footer" class="teal lighten-4">
        <div id="footerContents">
          <a href="/MyPage"
            ><i class="white-text fas fa-step-backward" id="backButton"></i
          ></a>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script  type="text/javascript" src="../static/js/common.js"></script>
  </body>
</html>
