<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPER BETTER</title>
    <meta
      name="description"
      content="ゲーミフィケーションを利用してモチベーションを維持する新しいモチベーションアップアプリです。"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
  </head>
  <body>

  <header>
    <nav>
      <div class="nav-wrapper light-blue accent-1">
        <a href="#" class="brand-logo center">ためる</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
      </div>
    </nav>
  </header>

  <div class="itemList container">
  <input type="text" id="itemList" name="in01" size="15" maxlength="40" placeholder="タスクを入力">
  </div>  

  </body>
</html>
