<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPER BETTER</title>
    <meta
      name="description"
      content="ゲーミフィケーションを利用してモチベーションを維持する新しいモチベーションアップアプリです。"
    />
    <link rel="icon" href="../static/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script
      src="https://kit.fontawesome.com/63c052cb4e.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      // 削除チェック用
      function DeleteCheck() {
        var res = confirm("削除します\nよろしいですか？");
        if (res == true) {
          return true;
        } else {
          return false;
        }
      }
      // ポイント使用チェック用
      function UseCheck() {
        var res = confirm("ポイントを使用します\nよろしいですか？");
        if (res == true) {
          return true;
        } else {
          return false;
        }
      }
    </script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/footerFixed.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ここからキリトリ -->
    {% block content %}{% endblock %}
    <!-- ここまでキリトリ -->

    <footer></footer>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
