<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPER BETTER</title>
    <meta
      name="description"
      content="ゲーミフィケーションを利用してモチベーションを維持する新しいモチベーションアップアプリです。"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script
      src="https://kit.fontawesome.com/63c052cb4e.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/js/footerFixed.js"></script>
  </head>

  <!-- イベント画像 -->
  <body class="deep-orange lighten-4">
    <div class="eventWrapper">
      <div class="eventInfo">
        <h2>イベント発生！</h2>
        <p>コンピューターが出す目を当ててください</p>
      </div>
      <img class="eventImg" src="../static/img/eventImage.png" alt="" />
    </div>

    <!-- サイコロイメージ -->
    <div class="dice">
      <img class="diceImg" src="../static/img/dice_one_red.png" alt="" />
      <img class="diceImg" src="../static/img/dice_two.png" alt="" />
      <img class="diceImg" src="../static/img/dice_three.png" alt="" />
      <img class="diceImg" src="../static/img/dice_four.png" alt="" />
      <img class="diceImg" src="../static/img/dice_five.png" alt="" />
      <img class="diceImg" src="../static/img/dice_six.png" alt="" />
    </div>

    <!-- フッター -->
    <footer id="footer" class="teal lighten-4">
      <div id="fotterContents">
        <i class="white-text fas fa-step-backward" id="backButton"></i>
      </div>
    </footer>

    　
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
