<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPER BETTER</title>
    <meta
      name="description"
      content="ゲーミフィケーションを利用してモチベーションを維持する新しいモチベーションアップアプリです。"
    />
    <link rel="icon" href="../static/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script
      src="https://kit.fontawesome.com/63c052cb4e.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/js/footerFixed.js"></script>
  </head>

  <!-- イベント画像 -->
  <body class="orange lighten-5">
    <div class="eventWrapper">
      <div class="eventInfo">
        <h2>レベルアップ！</h2>
      </div>
      <img class="levelUpImg" src="../static/img/levelUpImg.png" alt="" />
    </div>

    <!-- サイコロイメージ -->
    <div class="congMessage">
      <h2>
        おめでとう！！！！<!DOCTYPE html>
        <html lang="en">
          <head>
            <meta charset="UTF-8" />
            <meta
              name="viewport"
              content="width=device-width, initial-scale=1.0"
            />
            <title>Document</title>
          </head>
          <body></body>
        </html>
      </h2>

      <p>あなたの頑張りを<br />ツイートして友達とシェアしよう！</p>

      <script
        type="text/javascript"
        async
        src="https://platform.twitter.com/widgets.js"
      ></script>
      <a
        class="twitter-share-button"
        href="https://twitter.com/intent/tweet?text=モチベーションアプリでレベルアップしたよ！"
        data-size="large"
      >
        Tweet</a
      >
    </div>

    <!-- フッター -->
    <footer id="footer" class="teal lighten-4">
      <div id="MyFooterContents">
        <a href="/MyPage"><i class="white-text fas fa-home"></i></a>
      </div>
    </footer>

    　
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
