<!DOCTYPE html>

<html lang="ja">
       <head>
           <meta charset="UTF-8" /> 
           <meta http-equiv="content-type" content="text/html; charset=utf-8" >
           

           <title>新規登録</title>
           <link rel="STYLESHEET" href="../static/css/new-login.css" >
       </head>

       <body>
         <h1>新規登録</h1>
           <hr>
           <div align="center">
              <table border="0">
                  <form action="/new_login" method="POST">
                      <tr>
                          <th class="login_field">
                              ユーザ名
                            </th>
                           
                
                          <td class="login_field">
                              <input 
                              style="padding: 12px;border-radius: 12px;" 
                              type="text" name="user_name" value="" size="24">
                          </td>
                        </tr>
                      <tr>
                          <th class="login_field">
                              パスワード
                          </th>

                          <td class="login_field">
                              <input 
                              style="padding: 12px;border-radius: 12px;" 
                              type="password" name="password" value="" size="24" >
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2" class="login_button">
                              <input 
                              
                              class="button2" type="submit" value="登録" name="save"
                              >
                          </td>
                      </tr>
                  </form>
              </table>
          </div>
      </body>
</html>
