<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPER BETTER</title>
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <meta
      name="description"
      content="ゲーミフィケーションを利用してモチベーションを維持する新しいモチベーションアップアプリです。"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script src="https://kit.fontawesome.com/63c052cb4e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/footerFixed.js"></script>
  </head>

<header>
  <nav>
    <div class="nav-wrapper light-blue accent-1">
      <a href="#" class="brand-logo center"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
    </div>
  </nav>
</header>
<a class="waves-effect waves-light btn" id ="addtask" >タスクを追加する</a>
<table class= "striped">
  <thead>
    <tr class = "#b2dfdb teal lighten-4">
        <th class="center-align">task</th>
        <th class="center-align">get_point</th>
        <th class="center-align">button</th>
    </tr>
  </thead>

  <tbody>
    <!-- for文 -->
		<tr>
      <td width= "200">30分勉強する</td>
      <td>30point</td>
      <td><a class="waves-effect waves-light btn #b2dfdb teal lighten-4" href="">start</a></td>
    </tr>
    <tr>
      <td>これはサンプルです
      </td>
      <td>Jellybean</td>
      <td>$3.76</td>
    </tr>
    <tr>
      <td>これはこれはリストのサンプルです</td>
      <td>Lollipop</td>
      <td>$7.00</td>
    </tr>
  </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>