{% extends "base.html" %} 
{% block content %}
<header>
  <nav>
    <div class="nav-wrapper light-blue accent-1">
      <a href="#" class="brand-logo center">ためる</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
    </div>
  </nav>
</header>
<div class= "main">
<table id = "tasklist" class= "striped">


    <!-- for文 -->
    { % for item in html_task_list% }
		<tr>
      <td class = "list">{{ item['task'] }}</td>
      <td>{{ item['task'] + "point" }}</td>
      <td><a class="waves-effect waves-light btn #d7ccc8 brown lighten-4" href="">完了</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<footer id="footertask" class="teal lighten-4 ">
  <div id = "addbutton" class="right-align">
    <a href="/addpage" class="waves-effect waves-light btn #80d8ff light-blue accent-1" id ="addtask" >タスクを追加する</a>
  </div>    
  <div id="MyfooterContents">
    <i class="white-text fas fa-plus-square"></i>
    <i class="white-text fas fa-home"></i>
    <i class="white-text fas fa-minus-square"></i>
  </div>
</footer>
<!-- <footer class="page-footer #ffffff white"> 
  <div class="container">
    <div id= "homeid" class="center-align #b2dfdb teal lighten-4">
      <a href="#"><i class="medium material-icons
        ">home</i></a>
      </div>
    </div>
  </footer> -->
  {% endblock %}
  

