{% extends "base.html" %} 
{% block content %}
<table class= "striped">
  <thead>
    <tr class = "#b2dfdb teal lighten-4">
        <th>task</th>
        <th>get_point</th>
        <th>button</th>
    </tr>
  </thead>

  <tbody>
    <!-- {% for item in html_task_list %} -->
    <tr>
      <td>Alvin</td>
      <td>Eclair</td>
      <!-- クリックでタスクに集中してくださいwindowに飛ぶ -->
      <td><a class="waves-effect waves-light btn" href="">button</a></td>
    </tr>
    <!-- {% endfor %} -->
    
  </tbody>
</table>
{% endblock %}

