{% extends "base.html" %} 
{% block content %}
<header>
  <nav>
    <div class="nav-wrapper light-blue accent-1">
      <a href="#" class="brand-logo center">つかう</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
    </div>
  </nav>
</header>
<div class= "main">
<table id = "tasklist" class= "striped">

  <tbody>
    <!-- for文 -->
    { % for item in html_item_list% }
		<tr>
      <td class = "list">{{ item["item] }}</td>
      <td>{{ item["point"] + "point" }}</td>
      <td><a class="waves-effect waves-light btn #d7ccc8 brown lighten-4" href="">使う</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<footer id="footertask" class="teal lighten-4 ">
  <div id = "addbutton" class="right-align">
    <a href="/usepage" class="waves-effect waves-light btn #80d8ff light-blue accent-1" id ="addtask" >アイテムの追加</a>
  </div>    
  <div id="MyfooterContents">
    <i class="white-text fas fa-plus-square"></i>
    <i class="white-text fas fa-home"></i>
    <i class="white-text fas fa-minus-square"></i>
  </div>
</footer>
  {% endblock %}