{% extends "base.html" %} {% block content %}
<header>
  <nav>
    <div class="nav-wrapper light-blue accent-1">
      <a href="#" class="brand-logo center">つかう</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
    </div>
  </nav>
</header>
<table class="striped">
  <!-- <thead>
    <tr class = "#b2dfdb teal lighten-4">
        <th class="center-align">task</th>
        <th class="center-align">get_point</th>
        <th class="center-align">button</th>
    </tr>
  </thead> -->

  <tbody>
    <!-- for文 -->
    <tr>
      <td width="200">マンガを読む</td>
      <td>-30point</td>

      <td>
        <a
          class="waves-effect waves-light btn #d7ccc8 brown lighten-4"
          href="/use"
          >完了</a
        >
      </td>
    </tr>
    <tr>
      <td width="200">この文はforで処理します</td>
      <td>30point</td>
      <td>
        <a class="waves-effect waves-light btn #d7ccc8 brown lighten-4" href=""
          >完了</a
        >
      </td>
    </tr>
    <tr>
      <td width="200">この文はforで処理します</td>
      <td>30point</td>
      <td>
        <a class="waves-effect waves-light btn #d7ccc8 brown lighten-4" href=""
          >完了</a
        >
      </td>
    </tr>
    <tr>
      <td width="200">この文はforで処理します</td>
      <td>30point</td>
      <td>
        <a class="waves-effect waves-light btn #d7ccc8 brown lighten-4" href=""
          >完了</a
        >
      </td>
    </tr>
    <tr>
      <td width="200">この文はforで処理します</td>
      <td>30point</td>
      <td>
        <a class="waves-effect waves-light btn #d7ccc8 brown lighten-4" href=""
          >完了</a
        >
      </td>
    </tr>
    <tr>
      <td width="200">この文はforで処理しますしますします</td>
      <td>30point</td>
      <td>
        <a class="waves-effect waves-light btn #d7ccc8 brown lighten-4" href=""
          >完了</a
        >
      </td>
    </tr>
  </tbody>
</table>
<footer class="page-footer #ffffff white">
  <div class="right-align">
    <a
      class="waves-effect waves-light btn #80d8ff light-blue accent-1"
      id="addtask"
      >タスクを追加する</a
    >
  </div>
  <div class="container">
    <div class="center-align #b2dfdb teal lighten-4">
      <a href="#"><i class="medium material-icons">home</i></a>
    </div>
  </div>
</footer>
{% endblock %}
